div
  p.
    Welcome To Login

form(method="post")
  table
    tr
      td.
        Name
      td
        input(type="text" name="name")
    tr
      td.
        Password
      td
        input(type="text" name="password")
    tr
      td
        input(type="submit" value="Login")
